<!-- Breadcrumb -->

<%= render "layouts/partials/front/header/breadcrumbs" %>


<!-- Breadcrumb End -->

  <div class="section tekup-section-padding4">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="tekup-team-wrap">
            <div class="tekup-team-thumb">
              <%= image_pack_tag "media/images/team/team1.png",  alt: "" %>
              <div class="tekup-social-icon-box style-four position">
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tekup-team-data">
              <a href="single-team.html">
                <h5>Sayon KEÏTA</h5>
              </a>
              <p>Co-Founder & CEO  </p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="tekup-team-wrap">
            <div class="tekup-team-thumb">
              <%= image_pack_tag "media/images/team/team2.png", alt: "" %>
              <div class="tekup-social-icon-box style-four position">
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tekup-team-data">
              <a href="single-team.html">
                <h5>Amonce DEMBELE</h5>
              </a>
              <p>Co-Founder & CTO</p>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="tekup-team-wrap">
            <div class="tekup-team-thumb">
              <%= image_pack_tag "media/images/team/team3.png", alt: "" %>
              <div class="tekup-social-icon-box style-four position">
                <ul>
                  <li>
                    <a href="https://www.linkedin.com/">
                      <i class="ri-linkedin-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://twitter.com/">
                      <i class="ri-twitter-fill"></i>
                    </a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/">
                      <i class="ri-instagram-fill"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="tekup-team-data">
              <a href="single-team.html">
                <h5>Salif C. HAÏDARA</h5>
              </a>
              <p>Co-Founder</p>
            </div>
          </div>
        </div>
        

       
      </div>
    </div>
  </div>
  <!-- End section -->

  <div class="section bg-cover" style="background-image: url(<%= asset_pack_path('media/images/v1/cta-bg.png') %>)">
    <div class="container">
      <div class="tekup-cta-wrap">
        <div class="tekup-cta-content center">
          <h2>Travaillons ensemble</h2>
          <p>
            Nous sommes des architectes de l’innovation et le partenaire de votre réussite. 
          </p>
          <div class="tekup-extra-mt">
            <%= link_to raw("Démarrer un projet avec nous <i class='ri-arrow-right-up-line'></i>"), contact_path, class:"tekup-default-btn tekup-white-btn" %> 
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->



 