<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @event_category.uid %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @event_category.slug %>
</p>

<p>
  <strong>Title:</strong>
  <%= @event_category.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @event_category.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @event_category.status %>
</p>

<p>
  <strong>Account:</strong>
  <%= @event_category.account_id %>
</p>

<%= link_to 'Edit', edit_event_category_path(@event_category) %> |
<%= link_to 'Back', event_categories_path %>
