<div class="container mb-4">
  <div class="row">
    <div class="col-md-12">

      <div class="grid_column grid_column_abc home_header">
        <div class="slider_topic_desktop" id="slider_topic_desktop">
          <section class="slider_topic" id="slider_topic">
            <div class="slider_wrapper">
              <ul class="slider_container">
                <li class="slider_topic__item">
                  <%= link_to "Pharmacies", directory_path(categorie: "pharmacie"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="#" title="Mélodie retrouvée morte">
                    <span>Mélodie retrouvée morte</span>
                  </a> -->
                </li>
                <li class="slider_topic__item">
                  <%= link_to "Cliniques", directory_path(categorie: "clinique"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="#" title="Disparu en 2018, Alex Batty retrouvé">
                    <span>Disparu en 2018, Alex Batty retrouvé</span>
                  </a>-->
                </li>
                <li class="slider_topic__item">
                  <%= link_to "Hôpitaux", directory_path(categorie: "hôpitaux"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="#" title="Ado agressée à Lyon ">
                    <span>Ado agressée à Lyon</span>
                  </a>-->
                </li>
                <li class="slider_topic__item">
                  <%= link_to "Polices", directory_path(categorie: "police"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="#" title="Loi immigration">
                    <span>Loi immigration</span>
                  </a>-->
                </li>
                <li class="slider_topic__item">
                  <%= link_to "Sapeurs pompiers", directory_path(categorie: "sapeur-pompier"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="/societe/noel_DN-202312110285.html" title="Noël 2023">
                  <span>Noël 2023</span>
                  </a> -->
                </li>
                <li class="slider_topic__item">
                  <%= link_to "Hôtels", directory_path(categorie: "hôtel"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="/societe/noel_DN-202312110285.html" title="Noël 2023">
                  <span>Noël 2023</span>
                  </a> -->
                </li>
                <li class="slider_topic__item">
                  <%= link_to "Restaurants", directory_path(categorie: "restaurant"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="/societe/noel_DN-202312110285.html" title="Noël 2023">
                  <span>Noël 2023</span>
                  </a> -->
                </li>

                <li class="slider_topic__item">
                  <%= link_to "Ecoles", directory_path(categorie: "ecole"), class: "slider_topic__link" %>
                  <!--<a class="slider_topic__link" href="/societe/noel_DN-202312110285.html" title="Noël 2023">
                  <span>Noël 2023</span>
                  </a> -->
                </li>
                
                
              </ul>
            </div>
          </section>
          <script>window.nextScriptsToExecute&&window.nextScriptsToExecute.push((function(){const blocothequeSliderTopicParent=document.getElementById("slider_topic_desktop");const megamaxParent=document.getElementById("megamax_parent");if(window.deviceSize!=="L"&&blocothequeSliderTopicParent&&megamaxParent){megamaxParent.insertAdjacentHTML("afterend",blocothequeSliderTopicParent.innerHTML);blocothequeSliderTopicParent.remove()}cutText("#slider_topic",".slider_topic__item .slider_topic__link",40);carouselTopic("slider_topic",".slider_topic__item")}));</script>
        </div>
      </div>
    </div>
  </div>
</div>
