<section class="margBottom25 section-device-scroll">
	<div class="container">
	<div class="rubrique-menu">
		<%= link_to directory_path(categorie: "pharmacie"), class: "" do %>
			
			<div class="list-box-row">
				<picture>
					<i class="fas fa-hand-holding-medical"></i>
				</picture>
				<div class="list-box-content">
					<div class="list-box-title">Pharmacies</div>
					<!--<div class="list-box-scat">Pharmacies ouvertes ...</div> -->
					<div class="clearBoth"></div>
				</div>
				<div class="clearBoth"></div>
			</div>
			
		<% end %>


		<%= link_to directory_path(categorie: "clinique"), class: "" do %>
			<div class="list-box-row">
				<picture>
					<i class="fas fa-clinic-medical"></i>
				</picture>
				<div class="list-box-content">
					<div class="list-box-title">Cliniques</div>
					<!--<div class="list-box-scat">Cliniques ouvertes</div> -->
					<div class="clearBoth"></div>
				</div>
				<div class="clearBoth"></div>
			</div>
		<% end %>

		

		<%= link_to directory_path(categorie: "hôpitaux"), class: "" do %>
			<div class="list-box-row">
				<picture>
					<i class="fas fa-hospital-alt"></i>
				</picture>
				<div class="list-box-content">
					<div class="list-box-title">Hôpitaux</div>
					<!--<div class="list-box-scat">Devenez un cordon bleu</div>-->
					<div class="clearBoth"></div>
				</div>
				<div class="clearBoth"></div>
			</div>
		<% end %>

		<%= link_to directory_path(categorie: "police"), class: "" do %>
			<div class="list-box-row">
				<picture>
					<i class="fas fa-user-shield"></i>
				</picture>
				<div class="list-box-content">
					<div class="list-box-title">Polices</div>
					<!--<div class="list-box-scat">Polices ouvertes</div> -->
					<div class="clearBoth"></div>
				</div>
				<div class="clearBoth"></div>
			</div>
		<% end %>


		<%= link_to directory_path(categorie: "sapeur-pompier"), class: "" do %>
			<div class="list-box-row">
				<picture>
					<i class="fas fa-ambulance"></i>
				</picture>
				<div class="list-box-content">
					<div class="list-box-title">Sapeurs pompiers</div>
					<!--<div class="list-box-scat">Sapeurs pompiers de garde</div> -->
					<div class="clearBoth"></div>
				</div>
				<div class="clearBoth"></div>
			</div>
		<% end %>

		



	</div>
	</div>
</section>