

<div class="blog-item col-12 col-xl-4 col-sm-6" data-name="">
  
    <%= link_to event_path(event), class: "blog-item-main" do %>
    <div class="bg-img w-100 overflow-hidden mb-minus-1">
    	
      <%= event_thumbnail(event, "", "w-100 h-100 display-block") %>
    </div>
    <div class="infor bg-white p-24">
      <div class="caption2 pt-4 pb-4 pl-12 pr-12 bg-surface bora-40 display-inline-block">
        <%= event.event_category.title %>
          
        </div>
      <div class="heading6 mt-8">
      <%= event.title %>
    </div>
      <div class="date flex-item-center gap-16 mt-8">
        <div class="author caption2 text-secondary">par <span class="text-on-surface"><%= event.account.login %></span></div>
        <div class="item-date flex-item-center"><i class="ph-bold ph-calendar-blank"></i><span class="ml-4 caption2"><%= "Il y a #{time_ago_in_words(event.created_at)}" %></span></div>
      </div>
    </div>
  <% end %>
</div>
