<p id="notice"><%= notice %></p>

<p>
  <strong>Uid:</strong>
  <%= @ticket.uid %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @ticket.slug %>
</p>

<p>
  <strong>Ticket type:</strong>
  <%= @ticket.ticket_type_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Event:</strong>
  <%= @ticket.event_id %>
</p>

<p>
  <strong>Price:</strong>
  <%= @ticket.price %>
</p>

<p>
  <strong>Available quantity:</strong>
  <%= @ticket.available_quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ticket.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Account:</strong>
  <%= @ticket.account_id %>
</p>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
