<!-- ########## START: LEFT PANEL ########## -->

      <ul class="br-sideleft-menu">

       <li class="br-menu-item">
          <%= link_to  raw('<i class="fa fa-home tx-20"></i> <span class="menu-item-label">Tableau de bord</span>'), dashboard_path, class: "br-menu-link #{current? "active", dashboard_path}" %>
        </li><!-- br-menu-item -->

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="far fa-file-video tx-20"></i>
            <span class="menu-item-label">Évenements</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "Catégories", event_categories_path, class: "sub-link #{current? "active", event_categories_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Évenements", events_path, class: "sub-link #{current? "active", events_path}" %>
            </li> 
            
          </ul>
        </li>

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="far fa-file-video tx-20"></i>
            <span class="menu-item-label">Campagnes</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "Catégories", campaign_categories_path, class: "sub-link #{current? "active", campaign_categories_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Campagnes", campaigns_path, class: "sub-link #{current? "active", campaigns_path}" %>
            </li> 
            
          </ul>
        </li>

        

         <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
           
           <i class="far fa-file tx-20" ></i>

            <span class="menu-item-label">Pages</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">
                        <li class="sub-item">
                <%= link_to  "Toutes les pages", pages_path, class: "sub-link #{current? "active", pages_path}" %>
            </li>

            
            <li class="sub-item">
            


            
            
          </ul>
        </li>

        


      
        

        
      

        <li class="br-menu-item">
          <a href="#" class="br-menu-link with-sub">
            <i class="fa fa-cog tx-20"></i>
            <span class="menu-item-label">Paramètres</span>
          </a><!-- br-menu-link -->
          <ul class="br-menu-sub">

            <li class="sub-item">
                <%= link_to  "Fonctionalités", features_path, class: "sub-link #{current? "active", features_path}" %>
            </li>
            
            <li class="sub-item">
                <%= link_to  "Rôles", roles_path, class: "sub-link #{current? "active", roles_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Droits d'accès", permissions_path, class: "sub-link #{current? "active", permissions_path}" %>
            </li>

            <li class="sub-item">
                <%= link_to  "Utilisateurs", all_accounts_path, class: "sub-link #{current? "active", all_accounts_path}" %>
            </li>

         

          
        

            
            

           
           

            


          </ul>
        </li>


       
      </ul><!-- br-sideleft-menu -->

      
       
        
      </div><!-- info-list -->

    <!-- ########## END: LEFT PANEL ########## -->