 <header class="site-header tekup-header-section" id="sticky-menu">
    <!-- Top bar-->
     <%= render('layouts/partials/front/header/topbar') %>
    <!--  Top bar end -->
    <div class="tekup-header-bottom bg-white">
      <div class="container-fuild">
        <nav class="navbar site-navbar">
          <!-- Brand Logo-->
          <div class="brand-logo">
            <%= link_to root_url, class: "logo" do %>
              <%= image_pack_tag "logo/logo-techzenith.png", class: "header-logo" %> 
            <% end %>
          </div>
          <div class="menu-block-wrapper">
            <div class="menu-overlay"></div>
            <nav class="menu-block" id="append-menu-header">
              <div class="mobile-menu-head">
                <div class="go-back">
                  <i class="fa fa-angle-left"></i>
                </div>
                <div class="current-menu-title"></div>
                <div class="mobile-menu-close">&times;</div>
              </div>
              <ul class="site-menu-main">
                <!--
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Demo <i class="ri-arrow-down-s-line"></i></a>
                  <ul class="sub-menu" id="submenu-1">
                    <li class="sub-menu--item">
                      <a href="index.html">
                        <span class="menu-item-text">Home 01</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-02.html">
                        <span class="menu-item-text">home 02</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-03.html">
                        <span class="menu-item-text">home 03</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-04.html">
                        <span class="menu-item-text">home 04</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-05.html">
                        <span class="menu-item-text">home 05</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-06.html">
                        <span class="menu-item-text">home 06</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-07.html">
                        <span class="menu-item-text">home 07</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-08.html">
                        <span class="menu-item-text">home 08</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-09.html">
                        <span class="menu-item-text">home 09</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="index-10.html">
                        <span class="menu-item-text">home 10</span>
                      </a>
                    </li>
                  </ul>
                </li> -->
                <li class="nav-item">
                  
                   <%= link_to "Accueil", root_path, class:"nav-link-item #{current? "active", root_path}" %>   
                </li>
                <li class="nav-item">
                  
                  <%= link_to "Présentation", about_path, class:"nav-link-item #{current? "active", about_path}" %>   
                </li>
                <li class="nav-item">
                  
                  <%= link_to "Services", services_path, class:"nav-link-item #{current? "active", services_path}" %>   
                </li>
                <li class="nav-item">
                  <%= link_to "Solutions", solutions_path, class:"nav-link-item #{current? "active", solutions_path}" %> 
                </li>
                <li class="nav-item">
                  <%= link_to "L'Équipe", team_path, class:"nav-link-item #{current? "active", team_path}" %> 
                </li>
                <li class="nav-item">
                  <%= link_to "Blog", blog_path, class:"nav-link-item #{current? "active", blog_path}" %> 
                </li>
                <li class="nav-item">
                 
                  <%= link_to "Contactez-nous", contact_path, class:"nav-link-item #{current? "active", contact_path}" %>   
                </li>
                
                <!-- 
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Pages <i class="ri-arrow-down-s-line"></i></a>
                  <ul class="sub-menu" id="submenu-2">
                    <li class="sub-menu--item">
                      <a href="about-us.html">
                        <span class="menu-item-text">About Us</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="pricing.html">
                        <span class="menu-item-text">Pricing</span>
                      </a>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">blog <i class="ri-arrow-down-s-line"></i></a>
                      <ul class="sub-menu shape-none" id="submenu-3">
                        <li class="sub-menu--item">
                          <a href="blog.html">
                            <span class="menu-item-text">Blog</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="blog-grid.html">
                            <span class="menu-item-text">Blog grid</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-blog.html">
                            <span class="menu-item-text">blog details</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Service<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-4">
                        <li class="sub-menu--item">
                          <a href="service.html">
                            <span class="menu-item-text">service</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-service.html">
                            <span class="menu-item-text">service details</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Team<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-5">
                        <li class="sub-menu--item">
                          <a href="team.html">
                            <span class="menu-item-text">team</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-team.html">
                            <span class="menu-item-text">team details</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Portfolio<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-6">
                        <li class="sub-menu--item">
                          <a href="portfolio-01.html">
                            <span class="menu-item-text">Portfolio Grid</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="portfolio-02.html">
                            <span class="menu-item-text">Portfolio masonry</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-portfolio.html">
                            <span class="menu-item-text">Single Portfolio</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Utility<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-7">
                        <li class="sub-menu--item">
                          <a href="faq.html">
                            <span class="menu-item-text">faq</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="errors-404.html">
                            <span class="menu-item-text">Error 404</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="testimonial.html">
                            <span class="menu-item-text">testimonial</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li class="sub-menu--item nav-item-has-children">
                      <a href="#" data-menu-get="h3" class="drop-trigger">Shop<i class="ri-arrow-down-s-line"></i>
                      </a>
                      <ul class="sub-menu shape-none" id="submenu-8">
                        <li class="sub-menu--item">
                          <a href="shop.html">
                            <span class="menu-item-text">shop</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="single-shop.html">
                            <span class="menu-item-text">Shop Details</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="my-cart.html">
                            <span class="menu-item-text">My Cart</span>
                          </a>
                        </li>
                        <li class="sub-menu--item">
                          <a href="checkout.html">
                            <span class="menu-item-text">Checkout</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li class="nav-item nav-item-has-children">
                  <a href="#" class="nav-link-item drop-trigger">Blog <i class="ri-arrow-down-s-line"></i></a>
                  <ul class="sub-menu" id="submenu-9">
                    <li class="sub-menu--item">
                      <a href="blog.html">
                        <span class="menu-item-text">blog</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="blog-grid.html">
                        <span class="menu-item-text">Blog grid</span>
                      </a>
                    </li>
                    <li class="sub-menu--item">
                      <a href="single-blog.html">
                        <span class="menu-item-text">blog Details</span>
                      </a>
                    </li>
                  </ul>
                </li>
                <li class="nav-item">
                  <a href="contact-us.html" class="nav-link-item">Contact Us</a>
                </li>
              -->
              </ul>
            </nav>
          </div>
          <div class="header-btn header-btn-l1 ms-auto d-none d-xs-inline-flex">
            <div class="tekup-header-icon">
              <!--<div class="tekup-header-search">
                <i class="ri-search-line"></i>
              </div>
            -->
              

               <%= link_to raw("Demandez un devis <i class='ri-arrow-right-up-line'></i>"), contact_path, class:"tekup-default-btn tekup-header-btn" %>  

            </div>
          </div>
          <!-- mobile menu trigger -->
          <div class="mobile-menu-trigger">
            <span></span>
          </div>
          <!--/.Mobile Menu Hamburger Ends-->
        </nav>
      </div>
    </div>
    <!--
    <div class="tekup-header-search-section">
      <div class="container">
        <div class="tekup-header-search-box">
          <input type="search" placeholder="Search here...">
          <button id="header-search" type="button"><img src="assets/images/v1/search-dark.png" alt=""></button>
          <p>Type above and press Enter to search. Press Close to cancel.</p>
        </div>
      </div>
      <div class="tekup-header-search-close">
        <i class="ri-close-line"></i>
      </div>
    </div>-->
  </header>