<div class="section bg-light1-1 tekup-section-padding">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Ils nous ont fait confiance</h2>
      </div>
      <div class="tekup-brand-slider slick-initialized slick-slider">
        <div class="slick-list draggable">
          <div class="slick-track" style="opacity: 1; width: 4335px; transform: translate3d(-2550px, 0px, 0px); transition: transform 10000ms linear;">
            <div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="-5" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_2.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="-4" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_3.png", alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="-3" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_4.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="-2" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_5.png", alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_3.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide" data-slick-index="0" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_1.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide" data-slick-index="1" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_2.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide" data-slick-index="2" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_3.png", alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide" data-slick-index="3" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_4.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide" data-slick-index="4" aria-hidden="true" style="width: 231px;" tabindex="0">
          <%= image_pack_tag "media/images/v3/b_5.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-current slick-active" data-slick-index="5" aria-hidden="false" style="width: 231px;" tabindex="0">
           <%= image_pack_tag "media/images/v3/b_3.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned slick-active" data-slick-index="6" id="" aria-hidden="false" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_1.png", alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned slick-active" data-slick-index="7" id="" aria-hidden="false" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_2.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned slick-active" data-slick-index="8" id="" aria-hidden="false" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_3.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned slick-active" data-slick-index="9" id="" aria-hidden="false" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_4.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="10" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_5.png" , alt: "" %> 
        </div><div class="tekup-brand-slider-item slick-slide slick-cloned" data-slick-index="11" id="" aria-hidden="true" style="width: 231px;" tabindex="-1">
          <%= image_pack_tag "media/images/v3/b_3.png" , alt: "" %> 
        </div></div></div>
        
        
        
        
        
      </div>
    </div>
  </div>