
  <div class="section tekup-section-padding">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Explore our recent projects</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-portfolio-wrap2">
            <div class="tekup-portfolio-thumb2">
              <%= image_pack_tag "media/images/p2/p_1.png", alt: "" %> 
              <div class="tekup-portfolio-data2">
                <a href="single-portfolio.html">
                  <h5>Design of the year</h5>
                </a>
                <p>UI/UX Design</p>
                <a class="tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-portfolio-wrap2">
            <div class="tekup-portfolio-thumb2">
              <%= image_pack_tag "media/images/p2/p_2.png", alt: "" %> 
              <div class="tekup-portfolio-data2">
                <a href="single-portfolio.html">
                  <h5> Ways to level up your brand</h5>
                </a>
                <p>Branding</p>
                <a class="tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-portfolio-wrap2">
            <div class="tekup-portfolio-thumb2">
              <%= image_pack_tag "media/images/p2/p_3.png", alt: "" %> 
              <div class="tekup-portfolio-data2">
                <a href="single-portfolio.html">
                  <h5>Cyber Security Analysis</h5>
                </a>
                <p>Technology</p>
                <a class="tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-portfolio-wrap2">
            <div class="tekup-portfolio-thumb2">
              <%= image_pack_tag "media/images/p2/p_4.png", alt: "" %> 
              <div class="tekup-portfolio-data2">
                <a href="single-portfolio.html">
                  <h5>Design Discussion</h5>
                </a>
                <p>Design</p>
                <a class="tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 col-md-12">
          <div class="tekup-portfolio-wrap2">
            <div class="tekup-portfolio-thumb2">
              <%= image_pack_tag "media/images/p2/p_5.png", alt: "" %>
              <div class="tekup-portfolio-data2">
                <a href="single-portfolio.html">
                  <h5>Product Security Analysis</h5>
                </a>
                <p>Product</p>
                <a class="tekup-portfolio-btn2" href="single-portfolio.html"><i class="ri-arrow-right-up-line"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tekup-center-btn">
        <a class="tekup-default-btn" href="portfolio-01.html">View All Projects <i class="ri-arrow-right-up-line"></i></a>
      </div>
    </div>
  </div>
  <!-- End section -->