<div class="section bg-light1 tekup-section-padding2">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Nous fournissons des solutions efficaces pour votre entreprise.</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon3.png", alt: "" %>
            </div>
            <div class="tekup-iconbox-data3">
              <a href="single-service.html">
                <h5>Développement d'application</h5>
              </a>
              <p>Nous développons des solutions complètes pour les applications multiplateformes (Desktop, Mobile et web) en utilisant les langages et technologies les plus robustes et éprouvés du marché.</p>
            </div>
          </div>
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon6.png", alt: "" %> 
            </div>
            <div class="tekup-iconbox-data3">
              <a href="single-service.html">
                <h5>Marketing Digital & Communication</h5>
              </a>
              <p>
                 Nous vous accompagnons à chaque étape pour atteindre vos objectifs de croissance et renforcer votre présence sur tous les canaux digitaux essentiels.
                 <!--Maximiser votre visibilité et optimiser votre impact numérique avec des stratégies créatives et ciblées.-->
              </p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon4.png", alt: "" %> 
            </div>
            <div class="tekup-iconbox-data3">
              <a href="#">
                <h5>Intégration de technologes & API</h5>
              </a>
              <p>Au-delà de la conception de solutions spécifiques, nous maîtrisons et intégrons diverses solutions informatiques tierces, telles que CRM, API, ERP, etc.</p>
            </div>
          </div>
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon7.png", alt: "" %> 
            </div>
            <div class="tekup-iconbox-data3">
              <a href="single-service.html">
                <h5>Conseils & Formations</h5>
              </a>
              <p>Les technologies évoluent constamment et la formation est une nécessité. Nous assurons une formation continue et une mise à niveau dans le domaine des nouvelles technologies.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12">
          <div class="row">
            <div class="col-xl-12 col-md-6">
              <div class="tekup-iconbox-wrap3 bg-white">
                <div class="tekup-iconbox-icon3">
                  <%= image_pack_tag "media/images/v2/icon5.png", alt: "" %> 
                </div>
                <div class="tekup-iconbox-data3">
                  <a href="single-service.html">
                    <h5>Gestion de projet & Qualité</h5>
                  </a>
                  <p>Notre approche garantit un processus de développement bien organisé, une gestion efficace de la qualité et une communication proactive et claire avec les clients et les parties prenantes.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-md-6">
              <div class="tekup-iconbox-wrap3 bg-white">
                <div class="tekup-iconbox-icon3">
                  <%= image_pack_tag "media/images/v2/icon8.png", alt: "" %> 
                </div>
                <div class="tekup-iconbox-data3">
                  <a href="single-service.html">
                    <h5>Sécurité informatique</h5>
                  </a>
                  <p>La sécurité est un mot clé tout au long de notre processus de conception. Nous testons et proposons des méthodes et conseils pour sécuriser votre système informatique.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->