<div class="section bg-light1 tekup-section-padding2">
    <div class="container">
      <div class="tekup-section-title center">
        <h2>Nous traitons des aspects des services informatiques professionnels</h2>
      </div>
      <div class="row">
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon3.png", alt: "" %>
            </div>
            <div class="tekup-iconbox-data3">
              <a href="single-service.html">
                <h5>Développement d'application</h5>
              </a>
              <p>Nous sommes architectes du progrès technologique et partenaires de votre réussite.</p>
            </div>
          </div>
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon6.png", alt: "" %> 
            </div>
            <div class="tekup-iconbox-data3">
              <a href="single-service.html">
                <h5>Marketing Digital & Communication</h5>
              </a>
              <p>Nous sommes architectes du progrès technologique et partenaires de votre réussite.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-6">
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon4.png", alt: "" %> 
            </div>
            <div class="tekup-iconbox-data3">
              <a href="#">
                <h5>Intégration système & API</h5>
              </a>
              <p>Nous sommes architectes du progrès technologique et partenaires de votre réussite.</p>
            </div>
          </div>
          <div class="tekup-iconbox-wrap3 bg-white">
            <div class="tekup-iconbox-icon3">
              <%= image_pack_tag "media/images/v2/icon7.png", alt: "" %> 
            </div>
            <div class="tekup-iconbox-data3">
              <a href="single-service.html">
                <h5>Conseils & Formations</h5>
              </a>
              <p>Nous sommes architectes du progrès technologique et partenaires de votre réussite.</p>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-12">
          <div class="row">
            <div class="col-xl-12 col-md-6">
              <div class="tekup-iconbox-wrap3 bg-white">
                <div class="tekup-iconbox-icon3">
                  <%= image_pack_tag "media/images/v2/icon5.png", alt: "" %> 
                </div>
                <div class="tekup-iconbox-data3">
                  <a href="single-service.html">
                    <h5>Gestion de projet & Qualité</h5>
                  </a>
                  <p>Nous sommes architectes du progrès technologique et partenaires de votre réussite.</p>
                </div>
              </div>
            </div>
            <div class="col-xl-12 col-md-6">
              <div class="tekup-iconbox-wrap3 bg-white">
                <div class="tekup-iconbox-icon3">
                  <%= image_pack_tag "media/images/v2/icon8.png", alt: "" %> 
                </div>
                <div class="tekup-iconbox-data3">
                  <a href="single-service.html">
                    <h5>Sécurité informatique</h5>
                  </a>
                  <p>Nous sommes architectes du progrès technologique et partenaires de votre réussite.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End section -->