<!DOCTYPE html>
<html lang="<%= I18n.locale %>" style="width: 100%">
  <head>
     <% if controller_name == "front" && action_name == "home" %>
      <%= display_meta_tags site: "#{APPLICATION_NAME} | #{APPLICATION_SLOGAN}", charset: "utf-8" %>
      <% else %>
         <%= display_meta_tags site: "#{APPLICATION_NAME}", charset: "utf-8" %>
    <% end %>

    <meta name="description" content="<%= meta_description %>">
    <meta name="keywords" content="<%= meta_keywords %>">
    <meta property="og:locale" content="fr_FR">
    <link rel="canonical" href="<%= request.original_url %>">

    <meta name="publisher" content="<%= root_url %>">
    <meta name="IDENTIFIER-URL" content="<%= root_url %>">
    <meta http-equiv="Content-language" content="fr-FR">


    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="<%= meta_type %>">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="article:published_time" content="<%= meta_published_time %>">
    <meta property="article:modified_time" content="<%= meta_modified_time %>" />
    <meta property="og:site_name" content="<%= meta_site_name %>">

    <!-- Twitter Card data -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META['twitter_account'] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META['twitter_account'] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_pack_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'frontend', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "frontend", "data-turbo-track": "reload" %>



   
  </head>

  <body>
    <%= render('layouts/partials/front/header') %>
    <%= render('layouts/partials/front/pmu_nav') %>
    <main id="main">
      
      <%= yield %>
    </main>
    <%= render('layouts/partials/front/footer') %>
  </div>
  </body>
</html>
