<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
     <% if controller_name == "front" && action_name == "home" %>
      <%= display_meta_tags site: "#{APPLICATION_NAME} | #{APPLICATION_SLOGAN}", charset: "utf-8" %>
      <% else %>
         <%= display_meta_tags site: "#{APPLICATION_NAME}", charset: "utf-8" %>
    <% end %>

    <meta property="og:image" content="<%= meta_image %>" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    
    <%= stylesheet_pack_tag 'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'frontend', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "frontend", "data-turbo-track": "reload" %>
    <!-- we can put a custom yield with parameter here -->
    <link href="https://vjs.zencdn.net/7.0.0/video-js.css" rel="stylesheet">
  <script src="https://vjs.zencdn.net/7.0.0/video.min.js"></script>  
</head>

  <body>
    <%= render('layouts/partials/front/header') %>
    <main id="main">
      
      <%= yield %>
    </main>
    <%= render('layouts/partials/front/footer') %>
  </div>
  </body>
</html>
